.container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-contact {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.form-contact input {
    width: 80%;
    height: 50px;

    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}

.form-contact textarea {
    width: 80%;
    height: 100px;

    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.form-contact button {

    width: 80%;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
}

.form-contact button:hover {
    background-color: #494949;
    transition: 0.3s;

    color: #fff;
}

.title-contact {
    padding: 4%;
}

@media (max-width: 600px) {

    .form-contact {
        width: 80%;
    }

}

